### 피벗 테이블 흉내내기

In [1]:
import pandas as pd

df1 = pd.read_excel('C:/Data/Sample/3_Python_Excel/매출관리Sample_Mod.xlsx')
df2 = pd.read_excel('C:/Data/Sample/3_Python_Excel/매출관리Sample_Mod.xlsx', sheet_name = 1)
df3 = pd.read_excel('C:/Data/Sample/3_Python_Excel/매출관리Sample_Mod.xlsx', sheet_name = 2)

dfr = df1.merge(df2, how='left', left_on = '담당자 코드', right_on='사번')
dfr = dfr.merge(df3, how='left', on = '강의코드')

dfr['매출액'] = dfr['단가']*dfr['수강인원']

In [2]:
import numpy as np

dfP = pd.pivot_table(dfr, values='매출액', columns='이름',
                    index=['접수월'], aggfunc=np.sum)

### 필터 흉내내기

In [3]:
import pandas as pd

df1 = pd.read_excel('C:/Data/Sample/3_Python_Excel/매출관리Sample_Mod.xlsx')
df2 = pd.read_excel('C:/Data/Sample/3_Python_Excel/매출관리Sample_Mod.xlsx', sheet_name = 1)
df3 = pd.read_excel('C:/Data/Sample/3_Python_Excel/매출관리Sample_Mod.xlsx', sheet_name = 2)

dfr = df1.merge(df2, how='left', left_on = '담당자 코드', right_on='사번')
dfr = dfr.merge(df3, how='left', on = '강의코드')

dfr['매출액'] = dfr['단가']*dfr['수강인원']

In [4]:
dff = dfr.query('이름 == "잔머리 대마왕"')
dff

,접수번호,접수월,담당자,담당자 코드,강의코드,수강인원,사번,이름,특기,강의명,단가,매출액
3,100004,2019-01-01,1,1001,C004,51,1001,잔머리 대마왕,잔소리,웹크롤링 강좌,150000,7650000
4,100005,2019-01-01,1,1001,C005,59,1001,잔머리 대마왕,잔소리,Digital Twin 강좌,200000,11800000
5,100006,2019-01-01,1,1001,C006,52,1001,잔머리 대마왕,잔소리,AI 강좌,200000,10400000
6,100007,2019-01-01,1,1001,C007,51,1001,잔머리 대마왕,잔소리,통합 오피스 강좌,150000,7650000
8,100009,2019-01-01,1,1001,C009,61,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,12200000
...,...,...,...,...,...,...,...,...,...,...,...,...
432,100433,2022-04-01,1,1001,C004,52,1001,잔머리 대마왕,잔소리,웹크롤링 강좌,150000,7800000
433,100434,2022-04-01,1,1001,C005,38,1001,잔머리 대마왕,잔소리,Digital Twin 강좌,200000,7600000
435,100436,2022-04-01,1,1001,C007,44,1001,잔머리 대마왕,잔소리,통합 오피스 강좌,150000,6600000
436,100437,2022-04-01,1,1001,C008,30,1001,잔머리 대마왕,잔소리,워드 강좌,100000,3000000
437,100438,2022-04-01,1,1001,C009,67,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,13400000

In [5]:
dff = dfr.query('이름 == "잔머리 대마왕" & 매출액 >= 10000000')
dff

,접수번호,접수월,담당자,담당자 코드,강의코드,수강인원,사번,이름,특기,강의명,단가,매출액
4,100005,2019-01-01,1,1001,C005,59,1001,잔머리 대마왕,잔소리,Digital Twin 강좌,200000,11800000
5,100006,2019-01-01,1,1001,C006,52,1001,잔머리 대마왕,잔소리,AI 강좌,200000,10400000
8,100009,2019-01-01,1,1001,C009,61,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,12200000
24,100025,2019-03-01,1,1001,C003,65,1001,잔머리 대마왕,잔소리,BigData 강좌,200000,13000000
26,100027,2019-03-01,1,1001,C005,60,1001,잔머리 대마왕,잔소리,Digital Twin 강좌,200000,12000000
57,100058,2019-06-01,1,1001,C003,56,1001,잔머리 대마왕,잔소리,BigData 강좌,200000,11200000
114,100115,2019-11-01,1,1001,C005,55,1001,잔머리 대마왕,잔소리,Digital Twin 강좌,200000,11000000
115,100116,2019-11-01,1,1001,C006,53,1001,잔머리 대마왕,잔소리,AI 강좌,200000,10600000
118,100119,2019-11-01,1,1001,C009,54,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,10800000
125,100126,2019-12-01,1,1001,C005,60,1001,잔머리 대마왕,잔소리,Digital Twin 강좌,200000,12000000
134,100135,2020-01-01,1,1001,C003,57,1001,잔머리 대마왕,잔소리,BigData 강좌,200000,11400000
136,100137,2020-01-01,1,1001,C005,56,1001,잔머리 대마왕,잔소리,Digital Twin 강좌,200000,11200000
137,100138,2020-01-01,1,1001,C006,60,1001,잔머리 대마왕,잔소리,AI 강좌,200000,12000000
173,100174,2020-04-01,1,1001,C009,69,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,13800000
180,100181,2020-05-01,1,1001,C005,57,1001,잔머리 대마왕,잔소리,Digital Twin 강좌,200000,11400000
184,100185,2020-05-01,1,1001,C009,57,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,11400000
188,100189,2020-06-01,1,1001,C002,61,1001,잔머리 대마왕,잔소리,파이썬 강좌,200000,12200000
191,100192,2020-06-01,1,1001,C005,60,1001,잔머리 대마왕,잔소리,Digital Twin 강좌,200000,12000000
206,100207,2020-07-01,1,1001,C009,63,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,12600000
210,100211,2020-08-01,1,1001,C002,54,1001,잔머리 대마왕,잔소리,파이썬 강좌,200000,10800000
224,100225,2020-09-01,1,1001,C005,61,1001,잔머리 대마왕,잔소리,Digital Twin 강좌,200000,12200000
239,100240,2020-10-01,1,1001,C009,54,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,10800000
243,100244,2020-11-01,1,1001,C002,57,1001,잔머리 대마왕,잔소리,파이썬 강좌,200000,11400000
244,100245,2020-11-01,1,1001,C003,53,1001,잔머리 대마왕,잔소리,BigData 강좌,200000,10600000
254,100255,2020-12-01,1,1001,C002,52,1001,잔머리 대마왕,잔소리,파이썬 강좌,200000,10400000
272,100273,2021-01-01,1,1001,C009,54,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,10800000
280,100281,2021-02-01,1,1001,C006,58,1001,잔머리 대마왕,잔소리,AI 강좌,200000,11600000
283,100284,2021-02-01,1,1001,C009,53,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,10600000
290,100291,2021-03-01,1,1001,C005,63,1001,잔머리 대마왕,잔소리,Digital Twin 강좌,200000,12600000
291,100292,2021-03-01,1,1001,C006,60,1001,잔머리 대마왕,잔소리,AI 강좌,200000,12000000
299,100300,2021-04-01,1,1001,C003,57,1001,잔머리 대마왕,잔소리,BigData 강좌,200000,11400000
313,100314,2021-05-01,1,1001,C006,50,1001,잔머리 대마왕,잔소리,AI 강좌,200000,10000000
320,100321,2021-06-01,1,1001,C002,52,1001,잔머리 대마왕,잔소리,파이썬 강좌,200000,10400000
327,100328,2021-06-01,1,1001,C009,55,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,11000000
345,100346,2021-08-01,1,1001,C005,55,1001,잔머리 대마왕,잔소리,Digital Twin 강좌,200000,11000000
346,100347,2021-08-01,1,1001,C006,58,1001,잔머리 대마왕,잔소리,AI 강좌,200000,11600000
349,100350,2021-08-01,1,1001,C009,60,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,12000000
353,100354,2021-09-01,1,1001,C002,62,1001,잔머리 대마왕,잔소리,파이썬 강좌,200000,12400000
357,100358,2021-09-01,1,1001,C006,50,1001,잔머리 대마왕,잔소리,AI 강좌,200000,10000000
367,100368,2021-10-01,1,1001,C005,50,1001,잔머리 대마왕,잔소리,Digital Twin 강좌,200000,10000000
371,100372,2021-10-01,1,1001,C009,62,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,12400000
379,100380,2021-11-01,1,1001,C006,60,1001,잔머리 대마왕,잔소리,AI 강좌,200000,12000000
393,100394,2021-12-01,1,1001,C009,64,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,12800000
397,100398,2022-01-01,1,1001,C002,61,1001,잔머리 대마왕,잔소리,파이썬 강좌,200000,12200000
404,100405,2022-01-01,1,1001,C009,71,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,14200000
409,100410,2022-02-01,1,1001,C003,51,1001,잔머리 대마왕,잔소리,BigData 강좌,200000,10200000
412,100413,2022-02-01,1,1001,C006,51,1001,잔머리 대마왕,잔소리,AI 강좌,200000,10200000
420,100421,2022-03-01,1,1001,C003,55,1001,잔머리 대마왕,잔소리,BigData 강좌,200000,11000000
437,100438,2022-04-01,1,1001,C009,67,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,13400000

In [6]:
dff = dfr.query('이름 == "잔머리 대마왕" | 강의코드 == "C002"')
dff

,접수번호,접수월,담당자,담당자 코드,강의코드,수강인원,사번,이름,특기,강의명,단가,매출액
1,100002,2019-01-01,4,1004,C002,8,1004,거머리 마왕,쪽소리,파이썬 강좌,200000,1600000
3,100004,2019-01-01,1,1001,C004,51,1001,잔머리 대마왕,잔소리,웹크롤링 강좌,150000,7650000
4,100005,2019-01-01,1,1001,C005,59,1001,잔머리 대마왕,잔소리,Digital Twin 강좌,200000,11800000
5,100006,2019-01-01,1,1001,C006,52,1001,잔머리 대마왕,잔소리,AI 강좌,200000,10400000
6,100007,2019-01-01,1,1001,C007,51,1001,잔머리 대마왕,잔소리,통합 오피스 강좌,150000,7650000
...,...,...,...,...,...,...,...,...,...,...,...,...
432,100433,2022-04-01,1,1001,C004,52,1001,잔머리 대마왕,잔소리,웹크롤링 강좌,150000,7800000
433,100434,2022-04-01,1,1001,C005,38,1001,잔머리 대마왕,잔소리,Digital Twin 강좌,200000,7600000
435,100436,2022-04-01,1,1001,C007,44,1001,잔머리 대마왕,잔소리,통합 오피스 강좌,150000,6600000
436,100437,2022-04-01,1,1001,C008,30,1001,잔머리 대마왕,잔소리,워드 강좌,100000,3000000
437,100438,2022-04-01,1,1001,C009,67,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,13400000

In [7]:
dff = dfr.query('이름 in ["큰머리 마왕","일머리 마왕"]')
dff

,접수번호,접수월,담당자,담당자 코드,강의코드,수강인원,사번,이름,특기,강의명,단가,매출액
0,100001,2019-01-01,2,1002,C001,40,1002,큰머리 마왕,큰소리,엑셀 강좌,100000,4000000
2,100003,2019-01-01,2,1002,C003,38,1002,큰머리 마왕,큰소리,BigData 강좌,200000,7600000
10,100011,2019-01-01,2,1002,C011,42,1002,큰머리 마왕,큰소리,RPA 강좌,100000,4200000
12,100013,2019-02-01,3,1003,C002,44,1003,일머리 마왕,똑소리,파이썬 강좌,200000,8800000
16,100017,2019-02-01,3,1003,C006,38,1003,일머리 마왕,똑소리,AI 강좌,200000,7600000
...,...,...,...,...,...,...,...,...,...,...,...,...
424,100425,2022-03-01,3,1003,C007,72,1003,일머리 마왕,똑소리,통합 오피스 강좌,150000,10800000
426,100427,2022-03-01,2,1002,C009,41,1002,큰머리 마왕,큰소리,업무자동화 강좌,200000,8200000
427,100428,2022-03-01,3,1003,C010,43,1003,일머리 마왕,똑소리,파워포인트 강좌,100000,4300000
438,100439,2022-04-01,2,1002,C010,46,1002,큰머리 마왕,큰소리,파워포인트 강좌,100000,4600000
439,100440,2022-04-01,3,1003,C011,46,1003,일머리 마왕,똑소리,RPA 강좌,100000,4600000

### 정렬 흉내내기

In [8]:
import pandas as pd

df1 = pd.read_excel('C:/Data/Sample/3_Python_Excel/매출관리Sample_Mod.xlsx')
df2 = pd.read_excel('C:/Data/Sample/3_Python_Excel/매출관리Sample_Mod.xlsx', sheet_name = 1)
df3 = pd.read_excel('C:/Data/Sample/3_Python_Excel/매출관리Sample_Mod.xlsx', sheet_name = 2)

dfr = df1.merge(df2, how='left', left_on = '담당자 코드', right_on='사번')
dfr = dfr.merge(df3, how='left', on = '강의코드')

dfr['매출액'] = dfr['단가']*dfr['수강인원']

In [9]:
dfs = dfr.sort_values('매출액', ascending=False)
dfs

,접수번호,접수월,담당자,담당자 코드,강의코드,수강인원,사번,이름,특기,강의명,단가,매출액
404,100405,2022-01-01,1,1001,C009,71,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,14200000
173,100174,2020-04-01,1,1001,C009,69,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,13800000
437,100438,2022-04-01,1,1001,C009,67,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,13400000
24,100025,2019-03-01,1,1001,C003,65,1001,잔머리 대마왕,잔소리,BigData 강좌,200000,13000000
393,100394,2021-12-01,1,1001,C009,64,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,12800000
...,...,...,...,...,...,...,...,...,...,...,...,...
95,100096,2019-09-01,2,1002,C008,16,1002,큰머리 마왕,큰소리,워드 강좌,100000,1600000
363,100364,2021-10-01,2,1002,C001,15,1002,큰머리 마왕,큰소리,엑셀 강좌,100000,1500000
274,100275,2021-01-01,4,1004,C011,14,1004,거머리 마왕,쪽소리,RPA 강좌,100000,1400000
284,100285,2021-02-01,4,1004,C010,11,1004,거머리 마왕,쪽소리,파워포인트 강좌,100000,1100000
151,100152,2020-02-01,5,1005,C009,3,1005,글머리 마왕,사각소리,업무자동화 강좌,200000,600000

In [10]:
dfr[:5]

,접수번호,접수월,담당자,담당자 코드,강의코드,수강인원,사번,이름,특기,강의명,단가,매출액
0,100001,2019-01-01,2,1002,C001,40,1002,큰머리 마왕,큰소리,엑셀 강좌,100000,4000000
1,100002,2019-01-01,4,1004,C002,8,1004,거머리 마왕,쪽소리,파이썬 강좌,200000,1600000
2,100003,2019-01-01,2,1002,C003,38,1002,큰머리 마왕,큰소리,BigData 강좌,200000,7600000
3,100004,2019-01-01,1,1001,C004,51,1001,잔머리 대마왕,잔소리,웹크롤링 강좌,150000,7650000
4,100005,2019-01-01,1,1001,C005,59,1001,잔머리 대마왕,잔소리,Digital Twin 강좌,200000,11800000

In [11]:
dfs[:5]

,접수번호,접수월,담당자,담당자 코드,강의코드,수강인원,사번,이름,특기,강의명,단가,매출액
404,100405,2022-01-01,1,1001,C009,71,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,14200000
173,100174,2020-04-01,1,1001,C009,69,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,13800000
437,100438,2022-04-01,1,1001,C009,67,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,13400000
24,100025,2019-03-01,1,1001,C003,65,1001,잔머리 대마왕,잔소리,BigData 강좌,200000,13000000
393,100394,2021-12-01,1,1001,C009,64,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,12800000

In [12]:
dfs = dfr.sort_values(['접수월','매출액'], ascending=[True,False])
dfs

,접수번호,접수월,담당자,담당자 코드,강의코드,수강인원,사번,이름,특기,강의명,단가,매출액
8,100009,2019-01-01,1,1001,C009,61,1001,잔머리 대마왕,잔소리,업무자동화 강좌,200000,12200000
4,100005,2019-01-01,1,1001,C005,59,1001,잔머리 대마왕,잔소리,Digital Twin 강좌,200000,11800000
5,100006,2019-01-01,1,1001,C006,52,1001,잔머리 대마왕,잔소리,AI 강좌,200000,10400000
3,100004,2019-01-01,1,1001,C004,51,1001,잔머리 대마왕,잔소리,웹크롤링 강좌,150000,7650000
6,100007,2019-01-01,1,1001,C007,51,1001,잔머리 대마왕,잔소리,통합 오피스 강좌,150000,7650000
...,...,...,...,...,...,...,...,...,...,...,...,...
438,100439,2022-04-01,2,1002,C010,46,1002,큰머리 마왕,큰소리,파워포인트 강좌,100000,4600000
439,100440,2022-04-01,3,1003,C011,46,1003,일머리 마왕,똑소리,RPA 강좌,100000,4600000
429,100430,2022-04-01,4,1004,C001,41,1004,거머리 마왕,쪽소리,엑셀 강좌,100000,4100000
430,100431,2022-04-01,5,1005,C002,19,1005,글머리 마왕,사각소리,파이썬 강좌,200000,3800000
436,100437,2022-04-01,1,1001,C008,30,1001,잔머리 대마왕,잔소리,워드 강좌,100000,3000000

In [13]:
dfc = dfs[['접수월','수강인원','이름','강의명','매출액']]
dfc

           접수월  수강인원       이름              강의명       매출액
8   2019-01-01    61  잔머리 대마왕         업무자동화 강좌  12200000
4   2019-01-01    59  잔머리 대마왕  Digital Twin 강좌  11800000
5   2019-01-01    52  잔머리 대마왕            AI 강좌  10400000
3   2019-01-01    51  잔머리 대마왕          웹크롤링 강좌   7650000
6   2019-01-01    51  잔머리 대마왕        통합 오피스 강좌   7650000
..         ...   ...      ...              ...       ...
438 2022-04-01    46   큰머리 마왕         파워포인트 강좌   4600000
439 2022-04-01    46   일머리 마왕           RPA 강좌   4600000
429 2022-04-01    41   거머리 마왕            엑셀 강좌   4100000
430 2022-04-01    19   글머리 마왕           파이썬 강좌   3800000
436 2022-04-01    30  잔머리 대마왕            워드 강좌   3000000

[440 rows x 5 columns]