### 엑셀 텍스트 함수 구현하기

In [ ]:
T_Str = "     Test string 입니다.     "

In [ ]:
T_Str.upper()

'     TEST STRING 입니다.     '

In [ ]:
T_Str.lower()

'     test string 입니다.     '

In [ ]:
T_Str.swapcase()

'     tEST STRING 입니다.     '

In [ ]:
T_Str.title()

'     Test String 입니다.     '

In [ ]:
T_Str.strip()

'Test string 입니다.'

In [ ]:
T_Str.lstrip()

'Test string 입니다.     '

In [ ]:
T_Str.rstrip()

'     Test string 입니다.'

In [ ]:
T_Str.find('t')

8

In [ ]:
len(T_Str)

26

In [ ]:
T_Str

'     Test string 입니다.     '

In [ ]:
T_Str[:]

'     Test string 입니다.     '

In [ ]:
T_Str[:10]

'     Test '

In [ ]:
T_Str[17:]

'입니다.     '

In [ ]:
T_Str[len(T_Str)-9:]

'입니다.     '

In [ ]:
T_Str[10:17]

'string '

In [ ]:
T_Str[::2]

'   etsrn 니.  '

In [ ]:
T_Str[::-1]

'     .다니입 gnirts tseT     '

In [ ]:
T_Str.replace('Test','테스트')

'     테스트 string 입니다.     '

In [ ]:
import pandas as pd
df = pd.read_excel('C:/Data/Sample/3_6_Python_Excel/매출관리Sample_Mod.xlsx', sheet_name = 2)

In [ ]:
df['단축강의명'] = df['강의명'].str.replace(" 강좌","")

In [ ]:
df['단축강의명'] = df['강의명'].str[:4]

In [ ]:
df['단축강의명'] = df['강의명'].apply(lambda x : x[:len(x)-3])

In [ ]:
df2 = pd.read_excel('C:/Data/Sample/3_Python_Excel/매출관리Sample_Mod.xlsx', sheet_name = 1)

In [ ]:
df2[['Name', 'Position']] = df2['이름'].str.split(' ', 1, expand= True)

C:\Users\550sn\AppData\Local\Temp\ipykernel_27280\4199911311.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df2[['Name', 'Position']] = df2['이름'].str.split(' ', 1, expand= True)